<!DOCTYPE html>
<html xmlns:wicket>
	<head>
	</head>
	<body>
		<wicket:panel>
			<div class="bargraph">
				<h1>Test values</h1>
				<div class="bar-box">
					<div class="bar" style="height: 7em;"></div>
					<h3>Project1</h3>
					<span class="value" style="bottom: 7em;">70</span>
				</div>
				<div class="bar-box">
					<div class="bar" style="height: 4em;"></div>
					<h3>Project2</h3>
					<span class="value" style="bottom: 4em;">40</span>
				</div>
				<div class="bar-box">
					<div class="bar" style="height: 5em;"></div>
					<h3>Project3</h3>
					<span class="value" style="bottom: 5em;">50</span>
				</div>
				<div class="bar-box">
					<div class="bar" style="height: 2em;"></div>
					<h3>Project4</h3>
					<span class="value" style="bottom: 2em;">20</span>
				</div>
				<div class="bar-box">
					<div class="bar" style="height: 10em;"></div>
					<h3>Project5</h3>
					<span class="value" style="bottom: 10em;">100</span>
				</div>
			</div>
		</wicket:panel>
	</body>	
</html>
