<!DOCTYPE html>
<html xmlns:wicket>
	<head>
	</head>
	<body>
		<wicket:panel>
			<div class="major">
				<div class="event1">12-34-5678 Major event1!</div>
				<div class="event2">12-34-5678 Major event2!</div>
			</div>
			<div class="minorEvents">
				<ul>
					<li>12-34-5678 Minor event 1</li>
					<li>12-34-5678 Minor event 2</li>
					<li>12-34-5678 Minor event 3</li>
					<li>12-34-5678 Minor event 4</li>
					<li>12-34-5678 Minor event 5</li>
					<li>12-34-5678 Minor event 6</li>
				</ul>
			</div>
		</wicket:panel>
	</body>	
</html>
