<!DOCTYPE html>
<html xmlns:wicket>
	<head>
	</head>
	<body>
		<wicket:panel>
			<table wicket:id="table">
				<thead><tr><th colspan="4">Deventer</th></tr></thead>
				<tbody>
					<tr>
						<td class="type"><div class="sprinter"></div></td>
						<td class="departureTime">14:55<span class="delay">+ 6</span></td>
						<td class="platform">3b</td>
						<td class="destination">Almelo</td>
					</tr>
					<tr>
						<td class="type"><div class="intercity"></div></td>
						<td class="departureTime">15:14<span class="delay">+ 4</span></td>
						<td class="platform">4</td>
						<td class="destination">Amsterdam</td>
					</tr>
					<tr>
						<td class="type"><div class="sneltrein"></div></td>
						<td class="departureTime">15:19</td>
						<td class="platform">4</td>
						<td class="destination">Zwolle</td>
					</tr>
					<tr>
						<td class="type"><div class="intercity"></div></td>
						<td class="departureTime">15:19</td>
						<td class="platform">3</td>
						<td class="destination">Enschede</td>
					</tr>
					<tr>
						<td class="type"><div class="intercity"></div></td>
						<td class="departureTime">15:19</td>
						<td class="platform">3</td>
						<td class="destination">Enschede</td>
					</tr>
					<tr>
						<td class="type"><div class="intercity"></div></td>
						<td class="departureTime">15:19</td>
						<td class="platform">3</td>
						<td class="destination">Enschede</td>
					</tr>
					<tr>
						<td class="type"><div class="intercity"></div></td>
						<td class="departureTime">15:19</td>
						<td class="platform">3</td>
						<td class="destination">Enschede</td>
					</tr>
					<tr>
						<td class="type"><div class="intercity"></div></td>
						<td class="departureTime">15:19</td>
						<td class="platform">3</td>
						<td class="destination">Enschede</td>
					</tr>
					<tr>
						<td class="type"><div class="intercity"></div></td>
						<td class="departureTime">15:19</td>
						<td class="platform">3</td>
						<td class="destination">Enschede</td>
					</tr>
					<tr>
						<td class="type"><div class="intercity"></div></td>
						<td class="departureTime">15:19</td>
						<td class="platform">3</td>
						<td class="destination">Enschede</td>
					</tr>
				</tbody>
			</table>
		</wicket:panel>
	</body>	
</html>
