<!DOCTYPE html>
<html xmlns:wicket>
	<head>
	</head>
	<body>
	<wicket:panel>
		<div wicket:id="panel" class="block-widget weather">
			<div class="header">Deventer</div>
			<div class="weatherIcon"></div>
			<div class="wind">
				<div class="icon"></div>
				<div class="speed"></div>
			</div>
			<div class="temperature">
				<div class="max"></div>
				<div class="min"></div>
			</div>
			<div class="sun">
				<div class="rise"></div>
				<div class="set"></div>
			</div>
			<div class="credits"><a href="http://www.wetter.com">Powered by wetter.com</a></div>
		</div>
	</wicket:panel>
	</body>	
</html>
