<!DOCTYPE html>
<html xmlns:wicket>
	<head>
	</head>
	<body>
		<wicket:panel>
			<div class="statusses">
				<div wicket:id="projects" class="col projects">
					<h3>&nbsp;</h3>
					<div class="data">
						<div class="row">
							<div class="row-inner">Project 1</div>
						</div>
						<div class="row">
							<div class="row-inner">Project 2</div>
						</div>
					</div>
				</div>
				<wicket:container wicket:id="columns">
					<div wicket:id="column" class="info col">
						<h3>Sessies</h3>
						<div class="data">
							<div class="row">
								<div class="row-inner">1</div>
							</div>
							<div class="row">
								<div class="row-inner">2101</div>
							</div>
						</div>
					</div>
				</wicket:container>
			</div>
		</wicket:panel>
	</body>	
</html>
