span.dot {
	border-radius: 11px;
	width : 22px;
	height : 22px;
	line-height: 22px;
	display: block;
	float :left;
	text-align: center;
	font-size: 73.3%;
	color: #444;
}
.builds span.dot:nth-child(1) {
	border-radius: 15px;
	width : 30px;
	height : 30px;
	line-height: 30px;
	margin-top: -1px;
	margin-bottom: -1px;
	font-size: 100%;
}
.builds span.dot:nth-child(2) {
	border-radius: 13px;
	width : 26px;
	height : 26px;
	line-height: 26px;
	margin-top: 1px;
	margin-bottom: 1px;
	font-size: 86.7%;
}
.builds span.dot:nth-child(3) {
	border-radius: 11px;
	width : 22px;
	height : 22px;
	line-height: 22px;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 73.3%;
}
.builds span.dot:nth-child(4) {
	border-radius: 9px;
	width : 18px;
	height : 18px;
	line-height: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 60%;
}
.builds span.dot:nth-child(5) {
	border-radius: 7px;
	width : 14px;
	height : 14px;
	line-height: 14px;
	margin-top: 7px;
	margin-bottom: 7px;
	font-size: 46.7%;
}

.dots-1 span.dot,
.dots-2 span.dot,
.dots-3 span.dot,
.dots-4 span.dot,
.dots-5 span.dot {
	margin : 3px;
}
.dots-6 span.dot {
	margin : 3px 1px;
}
.dots-7 span.dot {
	margin : 4px 1px;
	border-radius: 9px;
	width : 18px;
	height : 18px;
	line-height: 18px;
	font-size: 60%;
}
.dots-8 span.dot {
	margin : 5px 1px;
	border-radius: 8px;
	width : 16px;
	height : 16px;
	line-height: 16px;
	font-size: 53.3%;
}
.dots-9 span.dot {
	margin : 6px 1px;
	border-radius: 7px;
	width : 14px;
	height : 14px;
	line-height: 14px;
	font-size: 46.7%;
}
.dots-10 span.dot,
.dots-11 span.dot {
	margin : 7px 1px;
	border-radius: 6px;
	width : 12px;
	height : 12px;
	line-height: 12px;
	font-size: 40%;
}

.dot.green { background-color : #00c000; }
.dot.yellow { background-color : #ff0; }
.dot.red { background-color : #f00; }
.dot.gray { background-color : #a0a0a0;}

.builds .dot.gray {
	-webkit-animation-name: blink;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes blink {
	0% {
		background-color: rgba(160, 160, 160, 1);
	}
	50% {
		background-color: rgba(160, 160, 160, 0.2);
	}
	100% {
		background-color: rgba(160, 160, 160, 1);
	}
}
