.majorEvent {
	font-size: 200%;
	text-align: center;
}

.minorEvents {
	overflow: hidden;
	font-size: 125%;
	height: 4.5em;
	text-align: center;
}
.minorEvents ul {
	list-style: none;
	padding: 0;
	margin: 0 0 0 0;
	line-height: 1.5em;
	-webkit-transition-property: margin;
	-webkit-transition-duration: 2s;
}
