@import url('fonts/Yanone/stylesheet.css');
@import url('fonts/DigitalDream/stylesheet.css');
@import url('statustable.css');
@import url('bars.css');
@import url('dots.css');
@import url('bargraph.css');
@import url('table.css');
@import url('events.css');
@import url('clock.css');
@import url('alerts.css');
@import url('twitter.css');
@import url('weather.css');

html, body, h1, h2, h3, h4, h5, h6, p, li, td, th { font-family: 'Yanone Kaffeesatz', arial, serif; }
html, body {
	color : white;
	font-size : 20px;
	overflow-y: auto;
	overflow-x: hidden;
	-moz-user-select:none;
	-ms-user-select:none;
	-webkit-user-select:none;
}
@media screen and (min-height:1670px) {
	html, body {
		overflow-y: hidden;
	}
}
body {
	height: 1680px;
	padding: 0;
	margin: 0;
	background: black -webkit-gradient(linear, right top, left bottom,
		from(#000),
		color-stop(0.5, #222),
		to(#000));
}
#cb {
	margin: 8px;
}
.debug {
	position: fixed;
	top: 0;
	left: 0;
}

.widget {
	margin : 30px 20px;
	clear : both;
	position: relative;
	width: 1000px;
}
.widget.first {
	margin-top: 60px;
}
.no-overflow {
	overflow: hidden;
}
.widget h1 { text-align : center;}
.ui-widget {
	font-family: 'Yanone Kaffeesatz', Arial, sans-serif !important;
}

.effects-enabled {
	-moz-perspective: 1000;
	-moz-perspective-origin: center 45%;
	-ms-perspective: 1000;
	-ms-perspective-origin: center 45%;
	-webkit-perspective: 1000;
	-webkit-perspective-origin: center 45%;
}

.block-widget {
	position: relative;
	height: 100%;
}
.block-widget .header,
.block-widget .jqplot-title {
	border-radius: 20px;
	font-size: 150%;
	font-weight: bold;
	padding: 1px;
	text-align: center;
}
.block-widget .jqplot-title {
	font-family: 'Yanone Kaffeesatz', Arial, sans-serif !important;
	background-color: #fcbdbd;
	margin-bottom: 15px;
}
