@import url('fonts/Yanone/stylesheet.css');
@import url('fonts/DigitalDream/stylesheet.css');
@import url('statustable.css');
@import url('dots.css');
@import url('bargraph.css');
@import url('table.css');
@import url('clock.css');

html, body, h1, h2, h3, h4, h5, h6, p, li, td, th { font-family: 'Yanone Kaffeesatz', arial, serif; }
html, body {
	background-color: black;
	color : white;
	font-size : 15pt;
	overflow: auto;
	-webkit-user-select:none;
}

.debug {
	position: fixed;
	top: 0;
	left: 0;
}

.widget { margin : 2em 1em 1em; clear : both; position: relative; }
.widget h1 { text-align : center;}
.ui-widget {
font-family: 'Yanone Kaffeesatz', Arial, sans-serif !important;
font-size: 1.1em;
}
#twitter {
	display: none;
}
.effects-enabled #twitter ul .disabled {
	height : 2em; 
	-webkit-marquee-direction:left;
	-webkit-marquee-increment:small;
	-webkit-marquee-repetition:0;
	-webkit-marquee-speed:fast;
	-webkit-marquee-style:slide;
	white-space: nowrap;
	overflow:hidden;
	overflow-x:-webkit-marquee;
}
#twitter li { 
	display: inline;
	padding-right : 3em;
}
#twitter a, #twitter a:visited { color : #88f;}

.effects-enabled {
	-webkit-perspective: 1000;
	-webkit-perspective-origin: center 45%;
}
