@import url('fonts/stylesheet.css');

html, body, h1, h2, h3, h4, h5, h6, p, li, td, th { font-family: 'Yanone Kaffeesatz', arial, serif; }
html, body { background-color: black; color : white; font-size : 20pt;}

.widget { width : 75%; margin : 0 auto; clear : both; position: relative; }
.widget h1 { text-align : center;}
.ui-widget {
font-family: 'Yanone Kaffeesatz', Arial, sans-serif !important;
font-size: 1.1em;
}
.effects-enabled #twitter ul .disabled {
	height : 2em; 
	-webkit-marquee-direction:left;
	-webkit-marquee-increment:small;
	-webkit-marquee-repetition:0;
	-webkit-marquee-speed:fast;
	-webkit-marquee-style:slide;
	white-space: nowrap;
	overflow:hidden;
	overflow-x:-webkit-marquee;
}
#twitter li { 
	display: inline;
	padding-right : 3em;
}
#twitter a, #twitter a:visited { color : #88f;}

.statusses {
	height : 12em;
	width : 100%;
}
.effects-enabled {
	-webkit-perspective: 1000;
	-webkit-perspective-origin: center 45%;
}
.statusses div.col { 
	float:left;
	height:10em;
	width:6em;
	margin: 0 0.43em;
	padding: 1em 1em;
	border-radius: 0.5em;
	line-height : 2em;
}
.effects-enabled .statusses div.rotate-enabled.col { 
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
}
.col h3 { padding : 0; margin : 0  auto 0.5em auto; text-align : center; line-height : 1em;}

.statusses div.row {
	margin : 0 -1.4em;
	border : none;
	clear: both;
	height: 2.1em;
}
.statusses .row .inner-row {
	position: absolute;
	height: 1.5em;
	line-height : 1.5em;
	width: 6.63em;
	background-color : rgba(64,64,64,0.5);
	padding : 0.20em 1.1em;
}
.effects-enabled .statusses div.inner-row {
	-webkit-backface-visibility: hidden;
}
.statusses div.col:first-child .inner-row {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}
.statusses div.col:last-child .inner-row {
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
.statusses #projects { text-align : right; }
.statusses #projects .row {
	padding-right: 1em;
}
.project-transition .statusses .row {
	-webkit-transition-property: -webkit-transform, opacity, height;
	-webkit-transition-duration: 1s;
}
.project-transition .statusses .row:first-child {
	-webkit-transform: scaleY(0);
	opacity: 0;
	height: 0em!important;
}
.project-transition.animate .statusses .row:first-child {
	-webkit-transform: scaleY(1);
	opacity: 1;
	height: 2.1em!important;
}
.project-transition .statusses .row:last-child {
	-webkit-transform: scaleY(1);
	opacity: 1;
	height: 2.1em!important;
}
.project-transition.animate .statusses .row:last-child {
	-webkit-transform: scaleY(0);
	opacity: 0;
	height: 0em!important;
}

.statusses .number .row { text-align : right; padding-right : 1.1em;}
.statusses .color-1 { background-color : #fe6f1f;}
.statusses .color-2 { background-color : #800020;}
.statusses .color-3 { background-color : #400040;}
.statusses .color-4 { background-color : #303000;}

.statusses #builds div span { border-radius: 0.5em; width : 1em; height : 1em; margin : 0.25em 0.2em 0.25em 0; display: block; float :left;}
.statusses .flips {
	position: relative;
}
.statusses .flip {
	position: absolute;
	width:6em;
}
.effects-enabled .statusses .flip {
	-webkit-backface-visibility: hidden;
}

.effects-disabled .statusses .flip.flip-back {
	display: none;
}
.effects-enabled .statusses .flip.flip-back {
	-webkit-transform: rotateY(180deg);
}
.statusses .flip.flip-hidden {
	display: none;
}

.success { background-color : green; }
.unstable { background-color : yellow; }
.failure { background-color : red; }
.building { background-color : gray;}

.statusses .flips {
	position: relative;
}

.effects-enabled .rotated {
	-webkit-transform: rotateY(180deg);
}
.effects-enabled .rotated.rotate-invert {
	-webkit-transform: rotateY(-180deg);
}

.bargraph {
	height: 13em;
}
.bargraph h1 {
	position: absolute;
	display: block;
	width: 25em;
	text-align: center;
	color: #777;
	top: -1em;
}
.bargraph .bar-box {
	height: 11em;
	float: left;
	width: 7em;
	position: relative;
	margin: 0 1em;
	-webkit-box-reflect:below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.9, transparent), to(rgba(255,255,255,0.5)));
}
.bargraph .bar-box h3 {
	display: block;
	position: absolute;
	bottom: -0.5em;
	width: 100%;
	text-align: center;
	margin-bottom: 0.5em;
	text-shadow: 0px 0px 3px #000;
}
.bargraph .bar-box span.value {
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
}
.bargraph .bar {
	position: absolute;
	bottom: 0em;
	width: 100%;
	background-color: red;
	-webkit-border-top-left-radius: 1px;
	-webkit-border-top-right-radius: 1px;
}
/* #twitter {
	display:none;
} */
