.table {
	height: 17.3em;
	-webkit-border-radius: 1em;
	float: left;
	background-color: rgba(64, 64, 64, 0.496094);
	color: white;
	border-collapse: collapse;
	margin-right: 2em;
}
.table:last-child {
	margin-right: 0;
}
.table thead tr th {
	-webkit-border-radius: 1em;
}
.table th {
	font-size: 150%;
	font-weight: bold;
}
.table td {
	padding: 0;
}
.table tr:nth-child(n+10) {
	display: none;
}
.table tbody tr:first-child td {
	padding-top: 0.7em;
}
.table .old {
	-webkit-animation-name: old;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes old {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

.table.ns {
	background-image: url('ns.svg');
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.table.ns thead tr th {
	background-color: #fc3;
}
.table.ns th {
	color: #006;
}
.table.ns .type {
	width: 2em;
}
.table.ns .departureTime {
	width: 2.5em;
	text-align: right;
	padding-right: 0.3em;
}
.table.ns .delay {
	color: red;
	font-weight: bold;
	width: 2em;
}
.table.ns .platform {
	width: 1.5em;
}
.table.ns .destination {
	width: 10em;
	overflow: hidden;
}

.table.alerts {
	background-image: url('alert.svg');
	background-size: auto 75%;
	background-position: 50% 60%;
	background-repeat: no-repeat;
}
.table.alerts thead tr th {
	background-color: #fc3;
}
.table.alerts th {
	color: #006;
}
.table.alerts .color {
	width: 1.3em;
	padding-left: 0.5em;
}
.table.alerts .time {
	width: 2em;
	text-align: right;
	padding-right: 0.7em;
}
.table.alerts .project {
	width: 6em;
}
.table.alerts .message {
	width: 12em;
	overflow: hidden;
}
