.table {
	height: 15.5em;
	-webkit-border-radius: 1em;
	float: left;
	background-color: rgba(64, 64, 64, 0.496094);
	color: white;
	margin-right: 1.5em;
	width: 16em;
}
.table table {
	border-collapse: collapse;
	width: 14.5em;
}
.table table td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.table:last-child {
	margin-right: 0;
}
.table thead tr th {
	-webkit-border-radius: 1em;
}
.table th {
	font-size: 150%;
	font-weight: bold;
}
.table td {
	padding: 0;
	font-size: 90%;
}
.table tr:nth-child(n+10) {
	display: none;
}
.table tbody tr:first-child td {
	padding-top: 0.7em;
}
.table .old {
	-webkit-animation-name: old;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes old {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

.table.ns {
	background-image: url('images/ns.svg');
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.table.ns thead tr th {
	background-color: #fc3;
}
.table.ns th {
	color: #006;
}
.table.ns .type {
	width: 2em;
}
.table.ns .type div {
	background-size: 65% auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 2.4em;
	height: 1em;
}
.table.ns .type .sprinter {
	background-image: url('images/sp.svg');
}
.table.ns .type .stoptrein {
	background-image: url('images/st.svg');
}
.table.ns .type .sneltrein {
	background-image: url('images/sn.svg');
}
.table.ns .type .intercity {
	background-image: url('images/ic.svg');
}
.table.ns .type .international {
	background-image: url('images/int.svg');
}
.table.ns .type .high_speed {
	background-image: url('images/hs.svg');
}
.table.ns .type .canceled {
	background-image: url('images/x.svg');
}
.table.ns .departureTime {
	width: 2em;
	text-align: right;
	padding-right: 0.3em;
}
.table.ns .delay,
.table.ns .platform.change {
	color: red;
	font-weight: bold;
}
.table.ns .delay {
	width: 2em;
}
.table.ns .platform {
	width: 1.5em;
}
.table.ns .destination {
	max-width: 8em;
}

.table.alerts {
	background-image: url('images/alert.svg');
	background-size: auto 75%;
	background-position: 50% 60%;
	background-repeat: no-repeat;
}
.table.alerts thead tr th {
	background-color: #fc3;
}
.table.alerts th {
	color: #006;
}
.table.alerts .color {
	width: 1.3em;
	padding-left: 0.5em;
}
.table.alerts .time {
	width: 2em;
	text-align: right;
	padding-right: 0.7em;
}
.table.alerts .project {
	max-width: 4em;
	width: 4em;
}
.table.alerts .message {
	max-width: 7.75em;
}
