.twitter {
	background-image: url('images/logo.svg');
	background-size: auto 100%;
	background-position: 100% 50%;
	background-repeat: no-repeat;
	padding-right: 160px;
}
.twitter div {
	white-space: nowrap;
	overflow:hidden;
}
.effects-enabled .twitter .list {
	-moz-transition-property: margin-left;
	-moz-transition-timing-function: linear;
	-ms-transition-property: margin-left;
	-ms-transition-timing-function: linear;
	-webkit-transition-property: margin-left;
	-webkit-transition-timing-function: linear;
}
.twitter .mentions {
	font-size: 125%;
}
.twitter span.item { 
	padding-right : 3em;
}
.twitter span.item span { 
	padding-right : 0.3em;
}
.twitter span.time {
	color: #77d;
}
.twitter span.user {
	color: #aaa;
}
