.twitter div {
	white-space: nowrap;
	overflow:hidden;
}
.effects-enabled .twitter .list {
	-webkit-transition-property: margin-left;
	-webkit-transition-timing-function: linear;
}
.twitter .mentions {
	font-size: 125%;
}
.twitter span.item { 
	padding-right : 3em;
}
