.weather {
	position: relative;
	height: 100%;
}
.weatherHeader {
	border-radius: 20px;
	font-size: 150%;
	font-weight: bold;
	background-color: #1059c2;
	padding: 1px;
	text-align: center;
}
.weatherIcon {
	width: 150px;
	height: 150px;
	background-size: auto 90%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-left: 20px;
	float: left;
}
.wind {
	margin-top: 20px;
	width: 110px;
	height: 110px;
	float: left;
}
.wind .icon {
	margin: 20px 20px 0 20px;
	width: 70px;
	height: 70px;
	background-size: auto 75%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url('weathericons/go-down.svg');
}
.wind .speed {
	text-align: center;
	font-size: 75%;
}
.sun {
	float: left;
	margin: 10px;
	width: 110px;
	background-size: auto 75%;
	background-position: right;
	background-repeat: no-repeat;
}
.sun.day {
	background-image: url('weathericons/weather-clear.svg');
}
.sun.night {
	background-image: url('weathericons/weather-clear-night.svg');
}
.sun .rise {
	padding-left: 25px;
	background-size: auto 75%;
	background-position: left;
	background-repeat: no-repeat;
	background-image: url('weathericons/arrow-up.svg');
}
.sun .set {
	padding-left: 25px;
	background-size: auto 75%;
	background-position: left;
	background-repeat: no-repeat;
	background-image: url('weathericons/arrow-down.svg');
}
.temperature {
	float: left;
	clear: both;
	margin: 10px 30px;
	width: 85px;
	background-size: auto 75%;
	background-position: right;
	background-repeat: no-repeat;
	background-image: url('weathericons/thermometer.svg');
}
.temperature .max {
	color: #f44;
}
.temperature .min {
	color: #66f;
}
.credits {
	position: absolute;
	bottom: 5px;
	right: 15px;
	font-size: 60%;
}
.credits a {
	color: #bbb;
	text-decoration: none;
}

.weatherIcon.clear.day {
	background-image: url('weathericons/weather-clear.svg');
}
.weatherIcon.few_clouds.day {
	background-image: url('weathericons/weather-few-clouds.svg');
}
.weatherIcon.partly_cloudy.day {
	background-image: url('weathericons/weather-clouds.svg');
}
.weatherIcon.overcast {
	background-image: url('weathericons/weather-many-clouds.svg');
}
.weatherIcon.rain {
	background-image: url('weathericons/weather-showers.svg');
}
.weatherIcon.light_rain {
	background-image: url('weathericons/weather-showers-scattered.svg');
}
.weatherIcon.showers {
	background-image: url('weathericons/weather-showers-scattered.svg');
}
.weatherIcon.chance_showers.day {
	background-image: url('weathericons/weather-showers-scattered-day.svg');
}
.weatherIcon.chance_showers.night {
	background-image: url('weathericons/weather-showers-scattered-night.svg');
}
.weatherIcon.chance_snow.day {
	background-image: url('weathericons/weather-snow-scattered-day.svg');
}
.weatherIcon.chance_snow.night {
	background-image: url('weathericons/weather-snow-scattered-night.svg');
}
.weatherIcon.thunderstorm {
	background-image: url('weathericons/weather-storm.svg');
}
.weatherIcon.hail {
	background-image: url('weathericons/weather-hail.svg');
}
.weatherIcon.snow {
	background-image: url('weathericons/weather-snow.svg');
}
.weatherIcon.light_snow {
	background-image: url('weathericons/weather-snow-scattered.svg');
}
.weatherIcon.flurries {
	background-image: url('weathericons/weather-snow-scattered.svg');
}
.weatherIcon.rain_snow {
	background-image: url('weathericons/weather-snow-rain.svg');
}
.weatherIcon.few_clouds.night {
	background-image: url('weathericons/weather-few-clouds-night.svg');
}
.weatherIcon.partly_cloudy.night {
	background-image: url('weathericons/weather-clouds-night.svg');
}
.weatherIcon.clear.night {
	background-image: url('weathericons/weather-clear-night.svg');
}
.weatherIcon.mist {
	background-image: url('weathericons/weather-mist.svg');
}
.weatherIcon.haze {
	background-image: url('weathericons/weather-mist.svg');
}
.weatherIcon.freezing_rain {
	background-image: url('weathericons/weather-freezing-rain.svg');
}
.weatherIcon.freezing_drizzle {
	background-image: url('weathericons/weather-freezing-rain.svg');
}
.weatherIcon.chance_thunderstorm.day {
	background-image: url('weathericons/weather-storm-day.svg');
}
.weatherIcon.chance_thunderstorm.night {
	background-image: url('weathericons/weather-storm-night.svg');
}
.weatherIcon.not_available,
.weatherIcon.unknown {
	background-image: url('weathericons/weather-none-available.svg');
}
